* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  overflow: hidden;
}
img {
  width: 100%;
}

main {
  position: relative;
  width: 1024px;
  height: 768px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.game-title {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  align-items: center;
}

.game-title h1 {
  letter-spacing: 4px;
  font-size: 3.5rem;
}

.game-title h3 {
  letter-spacing: 2px;
  color: rgba(222, 100, 100);
}

.game-settings {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: space-between;
}

.game-settings button {
  font-size: 1.25em;
  text-transform: uppercase;
  padding: 8px 12px;
  letter-spacing: 3px;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  background: rgba(222, 100, 100);
  color: white;
  font-weight: bold;
  transition: all 0.4s ease;
}

.game-settings button:hover {
  color: rgba(222, 100, 100);
  background-color: white;
}

.level-picker {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  flex-wrap: wrap;
}

.level-picker .level {
  width: 300px;
  position: relative;
  cursor: pointer;
}

.level img {
  border-radius: 20px;
  opacity: 0.4;
  filter: rgb(0, 0, 0);
  -webkit-filter: grayscale(1);

  filter: grayscale(1);
}

.level-picker .level.playable img {
  opacity: 1;
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.level h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  color: Red;
  text-shadow: 1px 1px black;
  z-index: 10;
  transform: translate(-50%, -50%);
}

.cards {
  z-index: 100;
  border-radius: 10px;
  width: 800px;
  height: 568px;
  position: absolute;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(0);
  transition: all 0.6s ease;
}

.cards h1 {
  color: rgba(222, 100, 100);
  letter-spacing: 2px;
  font-size: 3.5rem;
  margin: 20px 0;
}

.authors-section {
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.center-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.center-text h2 {
  font-size: 1.75rem;
}

.copy-text {
  display: flex;
  background-color: whitesmoke;
  border-radius: 10px;
  padding: 10px;
  position: relative;
}

.copy-text input.text {
  padding: 10px;
  font-size: 20px;
  color: #555;
  outline: none;
  border: 0;
}

.copy-text button {
  padding: 10px;
  background: #5784f5;
  color: #fff;
  border-radius: 5px;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

.copy-text button:active {
  background-color: #809ce2;
}

.copy-text button:before {
  content: 'copied';
  position: absolute;
  top: -30px;
  right: 0;
  background: #5c81dc;
  padding: 8px 10px;
  border-radius: 20px;
  font-size: 12px;
  display: none;
}

.copy-text button::after {
  content: '';
  position: absolute;
  top: -5px;
  right: 24px;
  background: #5c81dc;
  width: 10px;
  height: 10px;
  rotate: 45deg;
  display: none;
}

.copy-text.active button::before,
.copy-text.active button::after {
  display: block;
}

.close-btn {
  margin-top: 120px;
  padding: 10px 30px;
  font-size: 1.75rem;
  border-radius: 10px;
  background-color: rgba(222, 100, 100);
  color: white;
  border: 0;
  transition: all 0.4s ease;
  cursor: pointer;
}

.close-authors:hover {
  background-color: rgb(181, 0, 0);
}

.cards.offScreen,
.menu.offScreen {
  transform: translateY(600px);
  opacity: 0;
  pointer-events: none;
}

.game-display.onScreen {
  position: relative;
  top: -768px;
  z-index: 100;
}
